h1,
h2,
h3,
p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

.list-group-item {
  padding-left: 0;
}

/* Main App */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

/* Navbar */
.nav-link {
  display: flex;
  gap: 5px;
  align-items: center;
}

.nav-link i {
  line-height: 1.5;
}

/* Product Rating */
.rating {
  display: flex;
  gap: 5px;
}

.rating i {
  color: #febf00;
}

/* Product */
.product-stock,
.product-qty-cart {
  display: flex;
  gap: 5px;
}

.product-qty-cart {
  gap: 15px;
}

.product-qty-cart .form-select {
  width: auto;
}
